# Виртуальное окружение
.venv/
venv/
env/

# База данных (чтобы не загружать её в репозиторий)
investments.db
*.db

# Кэш Python
pycache/
*.pyc

# Настройки PyCharm
.idea/

# Логи и временные файлы
*.log
*.tmp